<app-hero [title]="title" [isMedium]="false"></app-hero>
<section class="section">
  <div class="container is-fluid">
    <!-- form -->
    <form [formGroup]="contactForm" (ngSubmit)="processForm()">

      <!-- phone -->
      <label class="label">Número de teléfono:</label>
      <div class="field">
        <input
          type="text"
          name="phone"
          class="input"
          formControlName="phone"
          placeholder="0341-5081933"
          required>
        <p *ngIf="!contactForm.controls.phone.valid" class="help is-danger">
          Número de teléfono obligatorio.
        </p>
      </div>

      <!-- Facebook -->
      <label class="label">Link a perfil de Facebook:</label>
      <div class="field">
        <input
          type="text"
          name="fb"
          class="input"
          formControlName="fb"
          placeholder="facebook.com/maria.martinez">
      </div>

      <!-- message -->
      <label class="label">Describe porque estas interesado en adoptar esta mascota:</label>
      <div class="field">
        <textarea
          class="textarea"
          name="message"
          required
          formControlName="description">
        </textarea>
        <p *ngIf="!contactForm.controls.description.valid" class="help is-danger">
          Descripción obligatoria.
        </p>
      </div>

      <button [disabled]="!canGenerateContact" type="submit" (click)="isModalActive = true" class="button is-link is-large">Enviar</button>

    </form>
    <!-- //form -->
  </div>
  <div class="modal modalHuellitas" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <h1 class="pacific-primary has-text-primary">Gracias!</h1>
        <br />
        <h3>Enviamos tus datos al publicante quien se contactara en caso de que apliques.</h3>
        <br />
        <button class="button is-primary" (click)="toggleModal()">Ok</button>
      </section>
    </div>
  </div>
</section>

