<app-hero [title]="userFullName"></app-hero>
<div class="tabs is-boxed">
  <ul>
    <li [ngClass]="{'is-active': tabs.profile}" (click)="openTab('profile')"><a>Perfil</a></li>
    <li [ngClass]="{'is-active': tabs.pets}" (click)="openTab('pets')"><a>Mascotas publicadas</a></li>
  </ul>
</div>
<section class="section is-fullheight" [hidden]="!tabs.profile">
  <div class="columns is-fluid">
    <div class="card column is-full-mobile is-half-tablet is-one-third-desktop">
      <div class="card-image">
        <figure class="image is-5by3">
          <img [src]="user?.image" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-paw has-text-primary"></i>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ user?.name }} {{ user?.lastname }}</p>
          </div>
        </div>

        <div class="content">
          {{ user?.bio }}
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-fullheight" [hidden]="!tabs.pets">
  <div class="columns is-fluid is-multiline">
    <div class="column is-full-mobile is-one-third-desktop" *ngFor="let pet of pets">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img class="is-rounded"
                src="{{pet.image}}"
                alt="Image"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{pet.name}}</strong>
                <br />
                {{pet.description}}
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </p>
              <a class="button is-primary">Adoptada</a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div *ngIf="!pets">
      <div class="notification is-primary">
        No hay mascotas publicadas.
      </div>
    </div>
  </div>
</section>
