.section {
  padding: 1.5rem;

  &[hidden] {
    display: none;
  }
}

.image img.is-rounded {
  object-fit: cover;
  object-position: 50% 50%;
  width: 64px;
  height: 64px;
}

img {
  object-fit: cover;
}

.card-content i {
  font-size: 25px;
}

.tags {
  justify-content: flex-end;
}
