<nav class="navbar is-primary is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="''">
      <img src="../../../assets/img/dog.png" alt="company logo">
    </a>
    <span class="navbar-item navbar-brand-name">Huellitas</span>
    <div class="navbar-burger burger" data-target="navMenuColorwarning" (click)="isActive = !isActive">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuColorwarning" class="navbar-menu" [ngClass]="{'is-active': isActive}">
    <div class="navbar-start" (click)="isActive = !isActive">
      <a class="navbar-item" [routerLink]="''">Home</a>
      <a class="navbar-item" [routerLink]="'pets'">Mascotas</a>
      <a class="navbar-item" [routerLink]="'users'">Usuarios</a>
    </div>

    <div class="navbar-end" (click)="isActive = !isActive">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!user" class="button is-primary" [routerLink]="'sign-up'">
            Registrarse
          </a>
          <a *ngIf="!user" class="button is-primary" (click)="toggleModal()">
            Iniciar sesión
          </a>
          <a *ngIf="user && user._id" class="button is-primary" routerLink="/users/{{ user._id }}">
            Mi perfil<i class="fas fa-paw"></i></a>
          <a *ngIf="user && user._id" class="button is-primary" (click)="logOut()">
            Cerrar sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <app-login (userLogged)="toggleModal()"></app-login>
    </section>
  </div>
</div>
