<app-hero [title]="'Crear cuenta'"></app-hero>
<section class="section">
  <div class="container is-fluid">
    <!-- form -->
    <form (ngSubmit)="processForm()">

      <!-- name -->
      <div class="field">
        <label class="label">Nombre <span class="required-field">*</span></label>
        <input
          type="text"
          name="name"
          class="input"
          placeholder="Nombre"
          [(ngModel)]="user.name"
          required
          #nameInput="ngModel">
      </div>

      <!-- lastname -->
      <div class="field">
        <label class="label">Apellido <span class="required-field">*</span></label>
        <input
          type="text"
          name="lastname"
          class="input"
          placeholder="Apellido"
          [(ngModel)]="user.lastname"
          required
          #nameInput="ngModel">
      </div>

      <!-- image -->
      <div class="field">
        <label class="label">Foto <span class="required-field">*</span></label>
        <div class="file is-link">
          <label class="file-label">
            <input class="file-input form-control" type="file" name="file" (change)="postMethod($event.target.files)"/>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Foto
              </span>
            </span>
          </label>
          <span style="padding-left: 10px;">{{fileName}}</span>
        </div>
      </div>
      <!-- email -->
      <div class="field">
        <label class="label">Email <span class="required-field">*</span></label>
        <input
          type="email"
          name="email"
          class="input"
          placeholder="Email"
          [(ngModel)]="user.email"
          required
          email
          #emailInput="ngModel">
      </div>
      <!-- password -->
      <div class="field">
        <label class="label">Contraseña <span class="required-field">*</span></label>
        <input
          type="password"
          pattern=".{6,}"
          name="password"
          class="input"
          placeholder="Password"
          [(ngModel)]="user.password"
          required
          #nameInput="ngModel">
      </div>

      <!-- tel -->
      <div class="field">
        <label class="label">Teléfono <span class="required-field">*</span></label>
        <input
          type="text"
          name="tel"
          class="input"
          placeholder="Tel"
          [(ngModel)]="user.tel"
          required
          email
          #emailInput="ngModel">
      </div>

      <!-- biography -->
      <div class="field">
        <label class="label">Biografía</label>
        <textarea
          class="textarea"
          name="biography"
          placeholder="Escribe tu biografía"
          [(ngModel)]="user.bio"
          #messageInput="ngModel"></textarea>
      </div>
      <p class="required-field" style="padding-bottom: 10px;"> (*) Campos requeridos.</p>
      <button [disabled]="!valid()" type="submit" class="button is-primary is-outlined">Crear cuenta</button>

    </form>
    <!-- //form -->
  </div>
</section>

