<app-hero [title]="'Mascotas en adopción'" [subtitle]="'Podrás encontrar mascotas que están esperando ser adoptadas'"
  [isMedium]="true" [imageClass]="'pets-img'">
</app-hero>

<section class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <h1 class="title column is-full-mobile is-two-thirds-tablet">Filtros de búsqueda</h1>
      <div class="column is-full-mobile is-one-third-tablet">
        <a [routerLink]="'add-pet'" class="button is-primary is-outlined is-fullwidth">Cargar mascota</a>
      </div>
    </div>
    <div class="columns is-multiline is-vertical-center">
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Tipo</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Perro</option>
              <option>Gato</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Tamaño</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Pequeño</option>
              <option>Mediano</option>
              <option>Grande</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Zona</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Centro</option>
              <option>Zona Norte</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <button class="button is-primary">Buscar</button>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop" *ngFor="let pet of pets">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="{{pet.image}}"
                  alt="Image"
                />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{pet.name}}</strong>
                  <br />
                  {{pet.description}}
                  <br />
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </p>
                <a [routerLink]="'contact'" [queryParams]="{pet: pet._id, name: pet.name}" class="button is-primary is-outlined">Contactar</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

</section>

