<app-hero [title]="'Mascotas en adopción'" [subtitle]="'Podrás encontrar mascotas que están esperando ser adoptadas'"
  [isMedium]="true" [imageClass]="'pets-img'">
</app-hero>

<section class="section">
  <div class="container is-fluid">
    <div class="pets-header">
      <a [routerLink]="'add-pet'" class="is-primary is-outlined is-fullwidth" *ngIf="userLogged">
        <i class="fas fa-plus"></i>
        Cargar mascota
      </a>
      <h1 class="title">Filtros de búsqueda</h1>
    </div>
    <div class="columns is-multiline is-vertical-center">
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Tipo</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="filters.type" #typeInput="ngModel" name="type">
              <option value="all" selected>Todos</option>
              <option value="dog">Perro</option>
              <option value="cat">Gato</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Tamaño</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="filters.size" #sizeInput="ngModel" name="size">
              <option value="all" selected>Todos</option>
              <option value="small">Pequeño</option>
              <option value="medium">Mediano</option>
              <option value="big">Grande</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <label class="label">Zona</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="filters.district" #districtInput="ngModel" name="district">
              <option value="all" selected>Todas</option>
              <option value="center">Centro</option>
              <option value="north">Norte</option>
              <option value="south">Sur</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field column is-full-mobile is-one-quarter-desktop">
        <button class="button is-primary" (click)="applyFilters()">Buscar</button>
      </div>
    </div>
    <div class="notification" *ngIf="!userLogged">
      Para adoptar debe estar registrado.
    </div>
    <div class="columns is-multiline">
      <div class="column is-full-mobile is-half-tablet is-one-third-desktop" *ngFor="let pet of filteredPets">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  *ngIf="pet.image"
                  src="./../../../assets/img/{{pet.image}}"
                  alt="Image"
                />
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{pet.name}}</strong>
                  <br />
                  {{pet.description}}
                  <br />
                  <time>{{pet.createdAt | date: 'shortDate'}} - {{pet.createdAt | date: 'shortTime'}}</time>
                </p>
                <a *ngIf="userLogged && userLogged._id == pet.userId" routerLink="/users/{{ userLogged._id }}" class="has-text-danger">Ver publicaciones</a>
                <a *ngIf="userLogged && userLogged._id != pet.userId" [routerLink]="'contact'" [queryParams]="{pet: pet._id, name: pet.name}" class="button is-primary is-outlined">Contactar</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="notification" *ngIf="!filteredPets?.length && pets?.length">
      No hay mascotas con los filtros aplicados.
    </div>
  </div>
</section>

