.image img.is-rounded {
  object-fit: cover;
  object-position: 50% 50%;
  width: 128px;
  height: 128px;
}

.title {
  font-weight: 300;
  text-align: center;
  margin-top: 24px;
}

time {
  font-size: 0.7rem;
}

.select, select {
  width: 100%;
}

.field:not(:last-child) {
  margin-bottom: 0;
}

.columns {
  align-items: flex-end;
}

.container {
  .pets-header {
    text-align: center;
    > a {
      max-width: 400px;
      border-bottom: 1px solid;

      i {
        font-size: 0.8rem;
      }
    }
  }
}
