.pacific-primary {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-vertical-bottom {
  display: flex;
  align-items: flex-end;
}
