.actions {
  text-align: right;

  .button:not(:last-child) {
    margin-right: 10px;
  }
}

.tags {
  justify-content: flex-end;
  padding-top: 5px;
  .tag {
    margin-bottom: 0px;
  }
}

.modal-card-head, .modal-card-foot {
  background-color: white;
}

.image img {
  height: 100%;
  object-fit: cover;
}

i {
  padding-left: 5px;
}

.select, select {
  width: 100%;
}

.columns .field:not(:last-child) {
  margin-bottom: 0;
}
