<div class="columns is-fluid is-multiline">
  <div
    class="column is-full-mobile is-one-third-desktop"
    *ngFor="let pet of pets"
  >
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded" src="../../../../assets/img/{{ pet.image }}" alt="Image" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ pet.name }}</strong>
              <br />
              {{ pet.description }}
              <br />
              <time>{{pet.createdAt | date: 'shortDate'}} - {{pet.createdAt | date: 'shortTime'}}</time>
            </p>
          </div>
        </div>
      </article>
      <div *ngIf="pet?.status != 'adopted'" class="actions">
        <a class="button is-primary is-outlined" (click)="editPet(pet)" *ngIf="currentUser">Editar</a>
        <a class="button is-primary is-outlined" (click)="petRequests(pet)" *ngIf="currentUser">Solicitudes</a>
        <a [routerLink]="'../../pets/contact'" [queryParams]="{pet: pet._id, name: pet.name}"
          *ngIf="userLogged && !currentUser" class="button is-primary is-outlined">Contactar</a>
      </div>
      <div class="tags">
        <span *ngIf="pet?.status === 'adopted'" class="tag is-light">
          Adoptado <i class="fas fa-heart has-text-primary"></i>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!pets?.length">
    <div class="notification">
      No hay mascotas publicadas.
    </div>
  </div>
</div>

<div class="modal modalHuellitas" [ngClass]="{ 'is-active': petRequestsActive }">
  <div class="modal-background" (click)="toggleModalRequest()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title pacific-primary has-text-primary">
        Solicitudes de adopción
      </p>
      <button class="delete" aria-label="close" (click)="toggleModalRequest()"></button>
    </header>
    <section class="modal-card-body"  *ngFor="let request of adoptionRequests">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="./../../../../assets/img/{{request.user.image}}" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{request.user.name}} {{request.user.lastname}}</strong>
              <br />
              {{request.description}}
            </p>
            <p><strong>Tel:</strong> {{request.phone}}</p>
            <p *ngIf="request.fblink"><strong>Facebook:</strong> {{request.fblink}} </p>
          </div>
          <button class="button is-primary" (click)="giveAdoption(request.user)">Dar adopción</button>
        </div>
      </article>
    </section>
    <section class="modal-card-body"  *ngIf="!adoptionRequests?.length">
      <div class="notification">
        No hay solicitudes de adopción.
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="toggleModalRequest()">Cancelar</button>
    </footer>
  </div>
</div>
<div class="modal modalHuellitas" [ngClass]="{ 'is-active': editPetActive }">
  <div class="modal-background" (click)="toggleModalEdit()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title pacific-primary has-text-primary">
        Editar mascota
      </p>
      <button class="delete" aria-label="close" (click)="toggleModalEdit()"></button>
    </header>
    <section class="modal-card-body">
      <form *ngIf="selectedPet">
        <div class="field">
          <label class="label">Nombre <span class="required-field">*</span></label>
          <input
            type="text"
            name="name"
            class="input"
            [(ngModel)]="selectedPet.name"
            required
            #nameInput="ngModel">
        </div>
        <div class="field">
          <label class="label">Descripción <span class="required-field">*</span></label>
          <textarea
            class="textarea"
            name="description"
            [(ngModel)]="selectedPet.description"
            required
            #descriptionInput="ngModel">
          </textarea>
        </div>
        <!-- image -->
        <div *ngIf="selectedPet.image.length">
          <label class="label">Foto <span class="required-field">*</span></label>
          <figure class="image is-64x64">
            <img class="is-rounded" src="../../../../assets/img/{{ selectedPet.image }}" alt="Image" />
          </figure>
          <a class="button is-text" (click)="deleteFile()">Eliminar</a>
        </div>
        <div class="field" *ngIf="!selectedPet.image.length">
          <label class="label">Foto  <span class="required-field">*</span></label>
          <div class="file is-link">
            <label class="file-label">
              <input class="file-input form-control" required type="file" name="file" (change)="postMethod($event.target.files)"/>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Foto  <span class="required-field">*</span>
                </span>
              </span>
            </label>
            <span style="padding-left: 10px;">{{fileName}}</span>
          </div>
        </div>
        <div class="columns is-multiline is-vertical-center">
          <div class="field column is-full-mobile is-one-quarter-desktop">
          <label class="label">Tipo <span class="required-field">*</span></label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="selectedPet.type" #typeInput="ngModel" name="type">
                <option value="dog">Perro</option>
                <option value="cat">Gato</option>
              </select>
            </div>
          </div>
          </div>
          <div class="field column is-full-mobile is-one-quarter-desktop">
            <label class="label">Tamaño <span class="required-field">*</span></label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="selectedPet.size" #sizeInput="ngModel" name="size">
                  <option value="small">Pequeño</option>
                  <option value="medium">Mediano</option>
                  <option value="big">Grande</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field column is-full-mobile is-one-quarter-desktop">
            <label class="label">Zona <span class="required-field">*</span></label>
            <div class="control">
              <div class="select">
                <select [(ngModel)]="selectedPet.district" #districtInput="ngModel" name="district">
                  <option value="center">Centro</option>
                  <option value="north">Norte</option>
                  <option value="south">Sur</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <p class="required-field" style="padding-bottom: 10px;"> (*) Campos requeridos.</p>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="adopted()">Adoptado</button>
      <button [disabled]="selectedPet && !valid()" class="button is-primary" (click)="save()">Guardar</button>
    </footer>
  </div>
</div>
