<section class="section">
  <div class="container is-fluid">
    <h1 class="has-text-primary">Iniciar sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div class="field">
        <div class="control">
          <input class="input is-primary" id="email" formControlName="email" type="email" name="email" title="email" placeholder="Email" required autofocus>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-primary" id="password" formControlName="password" type="password" name="password" title="password" placeholder="Contraseña" required>
        </div>
      </div>
      <p *ngIf="invalidCredentials" class="help is-danger">
        Email o contraseña incorrecta.
      </p>
      <button [disabled]="!canLogin" type="submit" class="button is-primary">Login</button>
    </form>
  </div>
</section>
