<section class="section">
  <div class="container is-fluid">
    <p class="title is-2">Iniciar sesión</p>

    <form>
      <div class="field">
        <div class="control">
          <input class="input is-primary" id="email" type="email" name="email" title="email" placeholder="Email" required autofocus>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-primary" id="password" type="password" name="password" title="password" placeholder="Password" required>
        </div>
      </div>
      <button type="submit" class="button is-primary">Login</button>
    </form>
  </div>
</section>
