.hero {
  padding-top: 3.25rem;
  background-size: cover;
  background-position: center center;

  &.users-img {
    background-image: url('https://images.unsplash.com/photo-1506993708131-b0bf29d16b76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') !important;
  }
}
